@import url('./general.css');

.confirm-popup {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.confirm-popup__btn {
    flex-grow: 1;
}
.rect-btn {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    height: 30px;
    line-height: 30px;
    width: 40px; 
    font-weight: bolder;
    text-transform: capitalize;
    border-radius: 5px;
}
.rect-btn--yes {
    background: #2ecc71;
}
.rect-btn--no {
    background: #e74c3c;
}