@import url('./general.css');

.login-panel {
    width: 529px;
    height: 604px;
    background: rgba(79, 79, 79, .27);
    padding: 30px 48px 26px 48px;
    border-radius: 64px;
}
.login-panel__header {
    font-family: 'Russo One', sans-serif;
    color: var(--second-theme-color);
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    height: 60px;
}
.finput {
    height: 70px;
    background: var(--second-theme-color);
    border-radius: 35px;
    padding: 0 30px;
}
.finput__i {
    height: inherit;
    width: 100%;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    color: var(--main-theme-color);
}
.login-panel__alert {
    color: #e74c3c;
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translateX(-50%);
}
.login-panel__alert::before {
    content: '[!]';
    display: inline-block;
    margin-right: 5px;
}
.login-panel__lbtn {
    width: 50%;
    height: 60px;
    border-radius: 14px;
    background-color: #55E492;
    margin-top: 50px;
    margin-left: 25%;
    font-size: 20px;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    color: var(--second-theme-color);
}
.login-panel__ntext {
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    color: var(--second-theme-color);
    width: 336px;
    height: 22px;
}
.login-panel__ntext::first-letter {
    text-transform: uppercase;
}

.social-btns {
    display: flex;
    justify-content: space-between;
    width: 238px;
}
.social-btns__btn {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color: var(--second-theme-color);
    font-size: 25px;
}
.social-btns--gg {
    background: #E52731;
}
.social-btns--fb {
    background: #3B5999;
}
.social-btns--tt {
    background: #1EA0F1;
}