@import url('./general.css');

.navbar-wr {
    background: var(--dark-theme-chatpage-color-main);
    min-width: 300px;
}
.navbar__header {
    display: flex;
    user-select: none;
    height: 50px;
    width: 100%;
    padding: 0 25px;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}
.navbar__header__title {
    flex-grow: 1;
    color: var(--dark-theme-chatpage-text-color);
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    line-height: 50px;
}
.navbar__header__btn {
    background: transparent;
    color: var(--dark-theme-chatpage-text-color);
    font-size: 20px;
}